{
  "extends": [
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "ignorePatterns": ["node_modules"]
}
