{
  "extends": [
    "react-app"
  ],
  "rules": {
    "array-bracket-spacing": [
      2,
      "never"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "constructor-super": 2,
    "eol-last": 2,
    "import/newline-after-import": [
      2
    ],
    "import/order": ["error", {"groups": ["builtin", "external", "internal", "parent", "sibling", "index"]}],
    "indent": 0,
    "jsx-quotes": [
      2,
      "prefer-double"
    ],
    "keyword-spacing": 1,
    "no-extra-semi": 2,
    "no-multiple-empty-lines": [
      2,
      {
        "max": 2,
        "maxEOF": 0
      }
    ],
    "no-trailing-spaces": 1,
    "no-unneeded-ternary": 1,
    "no-use-before-define": 0,
    "no-useless-constructor": 2,
    "no-var": 2,
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "object-shorthand": 2,
    "one-var": [
      2,
      "never"
    ],
    "max-len": [
      "warn",
      125,
      {
        "tabWidth": 2,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "prefer-const": 2,
    "prefer-template": 2,
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "react/boolean-prop-naming": [
      "warn",
      {
        "rule": "^(is|has)[A-Z]([A-Za-z0-9]?)+"
      }
    ],
    "react/sort-comp": "warn",
    "react/jsx-sort-props": [
      1
    ],
    "react/prefer-stateless-function": [
      2
    ],
    "react/prop-types": [
      2
    ],
    "react/sort-prop-types": "warn",
    "semi": [
      2,
      "always"
    ],
    "semi-spacing": 2,
    "space-before-blocks": 1,
    "space-before-function-paren": 0,
    "space-in-parens": [
      2,
      "never"
    ],
    "space-infix-ops": 2,
    "space-unary-ops": 2,
    "template-curly-spacing": 2
  }
}
